.box {
  width: 356px;
  height: 627px;
}

.box .group {
  position: fixed;
  width: 356px;
  height: 627px;
  top: 0;
  left: 0;
}

.box .group-wrapper {
  height: 627px;
  background-image: url(./img/rectangle-1.svg);
  background-size: 100% 100%;
}

.box .div-wrapper {
  position: relative;
  width: 336px;
  height: 44px;
  top: 11px;
  left: 10px;
}

.box .overlap-group-wrapper {
  width: 338px;
  height: 44px;
}

.box .overlap-group {
  position: relative;
  width: 336px;
  height: 44px;
  background-color: #6eff00;
  border-radius: 25px;
}

.box .text-wrapper {
  position: absolute;
  top: 10px;
  left: 15px;
  font-family: "Rubik One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
